@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #000;
 
}
 
  body{
    background-image:url(./campus.jpg);
    background-position: auto;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

.tnebuttons {
  padding: 20px;
  margin: 10px;
}

.tnebuttons  button{
    position: relative;
    height: 60px;
    width: 200px;
    margin: 0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
  }
  .tnebuttons  button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
  }
  .tnebuttons button:last-child:hover{
    background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
    background-size: 400%;
  }
  .tnebuttons button:first-child:before,
  .tnebuttons button:last-child:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .tnebuttons button:first-child:hover:before,
  .tnebuttons button:last-child:hover:before{
    opacity: 1;
    z-index: -1;
  }
  .tnebuttons button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
  }
  @keyframes glow {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }
  .tnebuttons button{
    text-align: center;
    margin-top: 100px;
  }
.resdos {
  text-align:left;
  margin-top: 200px;
  font-size: large;
  color: #000000;
}
.resdons {
  text-align:left;
  margin-top: 200px;
  font-size: large;
  color: #0e0e0e;
}

.dosndont {
  justify-content: center;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.leftFlexdos {
  margin: 10px;
  padding: 10px;
  float: left;
  flex: 40%;
}

.rightFlexdons {
  padding: 10px;
  float: right;
  flex: 40%;
}

.resdos, .resdons{
  margin: auto;
  padding: 5%; 
  height: 100%;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  background-color: #EEE8AA;
  backdrop-filter: blur(50%);
  background-size: auto;
  background-repeat: no-repeat;
}

